.p-btn {
  padding: 6px 10px;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  transition: all 0.5s;
  z-index: 1000;
  width: 32px;
  height: 32px;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  z-index: 999;
  overflow: hidden;
}
@media(hover:hover){
  .p-btn:hover {
    transform: scale(3);
  }

  .p-btn:hover::before{
   display: block;
  }
  .p-btn:hover::after{
   display: block;
  }
}

.p-btn::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: spinner-border 8s linear infinite;
  animation: spinner-border 8s linear infinite;
  display: none;
  background: linear-gradient(-104deg, transparent, #c70e4229);
}
.p-btn::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 94%;
  height: 94%;
  border: 1px solid #b21b419f;
  border-left-color: #b21b416d;
  border-bottom-color: #b21b4129;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 8s linear infinite;
  animation: spinner-border 8s linear infinite;
  transition: all .5s;
  display: none;
}

@-webkit-keyframes spinner-border {
  0% {
    -webkit-transform: rotate(700deg);
    transform: rotate(700deg);
  }
  30% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  70% {
    -webkit-transform: rotate(250deg);
    transform: rotate(250deg);
  }
}

@keyframes spinner-border {
  0% {
    -webkit-transform: rotate(700deg);
    transform: rotate(700deg);
  }
  30% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  70% {
    -webkit-transform: rotate(250deg);
    transform: rotate(250deg);
  }
}
